<a href="https://colab.research.google.com/github/minchulkim87/pandas_read_xml/blob/master/pandas_read_xml_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%%capture
!pip install pandas_read_xml

# restart runtime after this install to allow Google colab to use the updated packages.

In [0]:
import pandas_read_xml as pdx

In [0]:
test_zip_path = 'https://bulkdata.uspto.gov/data/trademark/dailyxml/applications/apc200219.zip'
root_key_list = ['trademark-applications-daily', 'application-information', 'file-segments', 'action-keys']

df = pdx.read_xml(test_zip_path, root_key_list)

In [5]:
df

  action-key                                          case-file
0         IB  [{'serial-number': '71360939', 'registration-n...
1         NA  [{'serial-number': '88799180', 'registration-n...
2         TX  [{'serial-number': '71119469', 'registration-n...

In [0]:
from pandas_read_xml import auto_separate_tables

key_columns = ['action-key', 'case-file|serial-number']

data = df.pipe(auto_separate_tables, key_columns)

In [7]:
data.keys()

dict_keys(['case-file-header', 'case-file-statements', 'case-file-event-statements', 'classifications', 'correspondent', 'case-file-owners', 'madrid-international-filing-requests', 'prior-registration-applications', 'design-searches', 'foreign-applications', 'international-registration', 'case-file'])

In [8]:
data['classifications']

       action-key  ... classification|primary-code
0              IB  ...                         036
1              IB  ...                         036
2              IB  ...                         036
3              IB  ...                         041
4              IB  ...                         041
...           ...  ...                         ...
173543         TX  ...                         029
173544         TX  ...                         030
173545         TX  ...                         030
173546         TX  ...                         029
173547         TX  ...                         029

[173548 rows x 11 columns]